*{
    margin:0;
    padding:0;
}
@font-face {
    font-family: RaleWay;
    src: url('/font/Raleway/Raleway-VariableFont_wght.ttf');
}
#fundo{
    width:100%;
    height: 100%;;
}
#rodape{
width: 100%;
height: 8em;
left: 0px;
margin-top:39.66%;
background: #111111;
}

#moldura{
position: absolute;
left: 19.51%;
right: 19.58%;
top: 13%;
bottom: 34%;
background: #222222;
border-radius:5%;
opacity:90%;
}

#moldura h1{
    font-family:RaleWay;
    text-align:center;
    margin-top:2%;
    font-size:60px;
    color:#FFF;
}

#moldura hr{
position: absolute;
left: 29.65%;
right: 29.72%;
top: 25.46%;
bottom: 74.03%;
background: #FFBD59;
border-radius: 100px;
padding-bottom: 3px;
}

.Formulario form label{
    
    display:flex;
    justify-content: center;
    color:#FFF;
    font-family:RaleWay;
    font-size:30px;
   
}
.Formulario form input{
    background:none;
    border: 1px solid #FFF;
    border-radius:5px;
    margin-right:5px;
    color: #FFF;
}
.Formulario form p{
    font-size: 20px;
}
#botao input{
    display:flex;
    justify-content: center;
    position:absolute;
    margin-left:43%;
    width:7em;
    height:3em;
    font-family:RaleWay;
    font-size: 20px;
    background-color:#FFBD59;
    border-radius:5px;
    font-weight: bolder;
    color:#FFF;
}
#botao input:hover{
    background-color: #FFF;
    color:#FFBD59;
    transition:0.4s;
}
#rodape p{
    font-family:RaleWay;
    font-size: 35px;
    color:#FFF;
    padding-top:50px;
    display:inline-block;
    margin-left:8em;
}
#rodape img{
    float:right;
    margin-top:1em;
    margin-right:2em;
    
}

@media screen and (max-width: 900px){

        #botao input{
            margin-left:41%;
 
        }
        #rodape{
            margin-top:65.7%;
        }
        #rodape p{
            font-family:RaleWay;
            font-size: 20px;
            color:#FFF;
            padding-top:50px;
            display:inline-block;
        }
}

@media screen and (max-width: 480px){
    #botao input{
        margin-left:25%;

    }
    #rodape{
        margin-top:130%;
    }
    #rodape p{
        font-family:RaleWay;
        font-size: 15px;
        color:#FFF;
        padding-top:50px;
        display:inline-block;
        margin-left:2%;
    }
    #rodape img{
        display:flex;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-top:1em;  
    }
    .Formulario form label{
    
        display:flex;
        justify-content: center;
        color:#FFF;
        font-family:RaleWay;
        font-size:20px;
    }
    #moldura h1{
        font-family:RaleWay;
        text-align:center;
        margin-top:2%;
        font-size:60px;
        color:#FFF;
    }
    
}
